# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin
.classpath
.DS_Store
.project
.settings/
.resources
/build/
/.gradle/
/bin/*
/output/
/settings/
/log/*
.eclipse
*.class
/jheq/
/logs/
/data/